<!DOCTYPE html>
<html>
    <head>
    <title>Help</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="">
   </head>
   <body>
    <div class="main-conent">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}
   </body>
</html>