<!DOCTYPE html>
<html>
    <head>
    <title>Weather</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="">
    <script src=""> </script>
   </head>
   <body>
    <div class="main-conent">
        {{>header}}
        <p>Use this site to get your weather</p>
    </div>
    {{>footer}}
   </body>
</html>